p {
	/* m10 */
	margin: 10px;
	/* m10-20 */
	margin: 10px 20px;
	padding: -10px;
	padding: -10px -20px;
	margin: 10%;
	padding: -10px -10px;
	margin: 10px;
	margin: 10%;
	font-size: 20px;
	font-size: 20rem;
	color: #fff;
}

div {
	/* posa */
	position: absolute;

	/* t0 */
	top: 0;

	/* b20 */
	bottom: 20px;

	/* w100p */
	width: 100%;

	/* h300 */
	height: 300px;

	/* p pl m mt */

	/* pl10 */
	padding-left: 10px;

	/* mt40 */
	margin-top: 40px;

	/* o */
	overflow: hidden;

	/* cu */
	cursor: pointer;

	/* tt */
	text-transform: uppercase;

	/* tac */
	text-align: center;

	/* tar */
	text-align: right;

	/* db */
	display: block;

	/* dib */
	display: inline-block;

	/* dif */
	display: inline-flex;

    /* fs */
    font-style: italic;

    /* fz16 */
    font-size: 16px;

    /* fwb */
    font-weight: bold;
}
